requests
dload
python-telegram-bot==12.6.1
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google_auth_oauthlib
tenacity>=6.0.0
python-magic
wget
asyncio
pyrogram==1.0.1
tgcrypto
oauth2client
psycopg2-binary
sqlalchemy==1.3.23
httplib2
pySmartDL
psutil
